<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>
    {% if mathjax_url %}
    <script type="text/javascript" src="{{mathjax_url}}?config={{mathjax_config}}&delayStartupUntil=configured" charset="utf-8"></script>
    {% endif %}
    <title>nbdime - diff and merge your Jupyter notebooks</title>

  </head>


  <!-- TODO: make nbdime.init() setup the forms/input user interface? -->

  <body> <!-- onload="nbdime.init()" -->

    {% block nbdimeheader %}
    {% endblock %}

    <div id="nbdime-root">
    </div>

    <script id='nbdime-config-data' type="application/json">{{ config_data|tojson|safe }}</script>
    <script src="{{ static_url('nbdime.js') }}"></script>
    <noscript>Nbdime relies on javascript for diff/merge views!</noscript>
  </body>
</html>
